<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <script src="script.js"></script>
  </head>
  <body>
    <div class="head">
      KTU TRACKER
    </div>
  <div class="login-page">
      <div class="form">
      
        <form class="login-form" action="/teacherview" method="POST">
          <input type="text" placeholder="username" name="name"/>
          <input type="password" placeholder="password" name="password"/>
          <input type="submit" placeholder="create"/>
          
          <p class="message"><a href="/">Student Login</a></p>
        </form>
      </div>
      </div>
    </body>